
<div id="task-form"
  data-controller="tasks--form-tasks"
  data-tasks--form-tasks-url-value="<%= url %>"
  data-tasks--form-tasks-act-value="<%= action %>"
  data-tasks--form-tasks-id-value="<%= task %>"
  data-tasks--form-tasks-priority-value="<%= priorities %>"
  data-tasks--form-tasks-status-value="<%= statuses %>">
</div>