<div id="<%= dom_id task %>" class='container px-6 '>

  <div class="py-2">
    <label for="task_id" class=""><strong>Task ID: </strong></label>
    <input type="text" id="disabled-input" aria-label="disabled input" class="border-0 bg-transparent" value="<%= @task.task_id %>" disabled>
  </div>
  <div  class="py-2">
    <strong>Task:</strong>
    <%= task.title %>
  </div>

  <div  class="py-2">
    <strong>Status:</strong>
    <%= task.status %>
  </div>

  <div class="py-2">
    <strong>Priority:</strong>
    <%= task.priority %>
  </div>

</div>
