<div class="flex flex-col h-screen justify-center items-center">
    <p style="color: green"><%= notice %></p>

    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Tasks</div>
        <p class="text-gray-700 text-base">
          <%= render @task %>
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= link_to "Edit this task", edit_task_path(task_id: @task.task_id) %></span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= link_to "Back to tasks", tasks_path %></span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">  <%= button_to "Destroy this task", task_path(task_id: @task.task_id), method: :delete %></span>
      </div>
    </div>
</div>