<div class="flex flex-col h-dvh justify-center items-center">
<p style="color: green"><%= notice %></p>

<%= render @task %>

<div>
  <%= link_to "Edit this task", edit_task_path(task_id: @task.task_id) %> |
  <%= link_to "Back to tasks", tasks_path %>

  <%= button_to "Destroy this task", task_path(task_id: @task.task_id), method: :delete %>
</div>

</div>