<div class="flex flex-col h-screen justify-center items-center">
    <p style="color: green"><%= notice %></p>

    <div class="rounded-lg border bg-card text-card-foreground shadow-sm pt-6">
          <%= render @task %>
      <div class="px-8 pt-4 pb-6  ">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm  text-gray-700 mr-2 mb-2"><%= link_to "Edit this task", edit_task_path(task_id: @task.task_id) %></span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm  text-gray-700 mr-2 mb-2"><%= link_to "Back to tasks", tasks_path %></span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm  text-gray-700 mr-2 mb-2">  <%= button_to "Destroy this task", task_path(task_id: @task.task_id), method: :delete %></span>
      </div>
    </div>  

</div>