<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Work</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <style>
        html, body {
          height: 100vh; /* Use 100vh to ensure full viewport height */
          margin: 0;
          }
    </style>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
